body {
    text-align: center;
    margin: 0;
    background: #2B2B2B;
    font-family: sans-serif;
    font-family: 'work sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1050px;
    margin: auto 0;
    padding: 0;
}

header {
    background: #2B2B2B;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}    

.header-container {
    width: 1230px;
    text-align: center;
    margin: auto;
}


.header-links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.marketplase-button__link  {
    background: #2B2B2B;
    border: none;
    width: 139px;
    height: 46px;
    font-size: 16px;
}

.marketplase-button__link {
    color: #ffffff;
    width: 139px;
    height: 46px;
    border-radius: 4px;
    font-family: sans-serif;
    transition: 0.3s;
    font-size: 18px;
}

.rankings-button__link {
    background: none;
    width: 112px;
    height: 46px;
    color: #ffffff; border: none;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 18px;
}

.connect-button__link {
    width: 175px;
    height: 46px;
    background: none;
    color: #ffffff;border: none;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 18px;
}

.singup__active-button {
    background: #A259FF;
    width: 152px;
    height: 55px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.singup__active-button:hover {
    cursor: pointer;
}


.header-menyu-button {
    display: none;
    cursor: pointer;
} 

@media  screen and (max-width: 834px) {
    .container {
        width: 90% !important;
    }

    .header-container {
        width: 100%;
        padding: 0 20px;
    }

    .header-links {
        display: none;
    }

    .header-menyu-button {
        display: block;
    }

    .discover-section__title {
        gap: 15px;
    }

    .discover-section__title-box__text h1 {
        font-size: 34px;
    }

    .discover-section__title-box__two-img img {
        width: 330px;
    }

    .discover-section__title-box__two {
        width: 330px;
        height: 340px;
    }

    .collection-section__disco {
        display: none;
    }

    .browse-title__box_fons img {
        width:  auto;
        height: 142px;
    }

    .browse-title__box_fons h2 {
        font-size: 16px;
    }

    .browse-title__box_fons {
        width: 145px;
        height: 209px;
    }

    .nfts-section__contact__info-kart__none {
        display: none;
    }

    .nfts-section__contact__info-kart__box h2 {
        font-size: 22px;
    }

    .nfts__section__info-box__price-text h2 {
        font-size: 18px;
    }

    .nfts__section__info-box__higheast-text h2 {
        font-size: 18px;
    }

    .magic_section img {
        width: 834px;
        height: 630px;
    }

    .weekly-section__kart {
        width: 690px;
        height: 360px;
        gap: 20px;
        padding: 30px;
    }

    .weekly-section__kart-img img {
        width: 330px;
        height: 280px;
    }

    .weekly-section__kart-button__box {
        flex-direction: column;
        gap: 10px;
        width: 330px;
        height: 46px;
    }

    .weekly-section__kart-text {
        gap: 10px;
    }
     
    h2 {
        font-size: 38px;
    }


    .weekly-section__kart-text h2 {
        font-size: 24px;
    }

    .weekly-section__kart-button__box button {
        width: 100%;
        max-height: 46px;
        height: 100%;
    }

}

@media screen and (max-width: 375px) {
    .container {
        width: 90%;
    }

    .header {
        padding: 15px, 20px;
    }

    .header-logo img {
        width: 180px;
    }

    .browse-title__box {
        display: grid;
        grid-template-columns: repeat(2 1fr);
    }

    .nfts-section__contact__info-kart__none {
        display: block;
    }

    .header-links {
        position: absolute;
        flex-direction: column;
        padding: 12px;
        gap: 6px;
    }

    .header-menyu-button {
        display: block;
    }

    .header-links.active {
        display: flex;
    }




}